In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./crawling/daum_book123.csv', index_col=0)

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8652 entries, 0 to 8651
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    8652 non-null   object
 1   content  8652 non-null   object
dtypes: object(2)
memory usage: 202.8+ KB
None

In [4]:
#data = pd.read_csv('./crawling/cleaned_daum_book3.csv', index_col=0) #index_col 안하면 unnamed 컬럼이 생김
#df = pd.concat([df,data], ignore_index=True)

In [5]:
for i in range(4,6):
    data = pd.read_csv('./crawling/daum_book{}.csv'.format(i), index_col=0) #index_col 안하면 unnamed 컬럼이 생김
    df = pd.concat([df,data], ignore_index=True)

In [6]:

df['title'].unique()

array(['유시민의 경제학 카페', '좋은 기업을 넘어... 위대한 기업으로', '포지셔닝', ..., '명탐정 코난 1',
       '슬램덩크 프리미엄 1', '돌아온 자살토끼'], dtype=object)

In [7]:
df.dropna(subset=['content'],how='any',inplace=True)

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13449 entries, 0 to 13449
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    13449 non-null  object
 1   content  13449 non-null  object
dtypes: object(2)
memory usage: 315.2+ KB
None

In [9]:
df.drop_duplicates(['title'],inplace=True)
df.reset_index(drop=True, inplace=True)

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12639 entries, 0 to 12638
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    12639 non-null  object
 1   content  12639 non-null  object
dtypes: object(2)
memory usage: 197.6+ KB
None

In [11]:
df.head(10)

                   title                                            content
0            유시민의 경제학 카페  오늘의 책\n(2011.03.15 선정)\n평범한 사람들을 위한 경제학 도서\n넘치...
1  좋은 기업을 넘어... 위대한 기업으로  오늘의 책\n(2007.02.08 선정)\n또 하나의 기업경영 바이블\n무엇이 위대...
2                   포지셔닝  오늘의 책\n(2007.09.03 선정)\n마케팅과 광고 담당자들의 오랜 ‘경전’\...
3                 전쟁의 기술  책소개\n위대한 승리자들의 비밀 전략술을 철저히 분석한 21세기판 손자병법!\n\n...
4                 부자사전 1  오늘의 책\n(2006.04.24 선정)\n대한민국 알부자 100인의 돈 버는 노하...
5               디테일의 힘 1  책소개\n'디테일'이 개인과 기업, 국가의 경쟁력에 결정적이라는 사실을 풍부한 예화...
6              나쁜 사마리아인들  오늘의 책\n(2008.03.25 선정)\n“자유주의 경제학의 함정을 폭로”한다\n...
7           앨빈 토플러 부의 미래  오늘의 책\n(2007.12.03 선정)\n미래학자가 말하는 ‘혁명적 부’의 요인\...
8                  청소부 밥  오늘의 책\n(2010.10.25 선정)\n인생의 진정한 행복과 지혜\n[청 소부 ...
9               금융투기의 역사  오늘의 책\n(2008.11.24 선정)\n세계 금융투기에 관한 사례 연구\n부에 ...

In [12]:
df.to_csv('./crawling/daum_book.csv')

In [13]:
df=pd.read_csv('./crawling/cleaned_daum_book.csv', index_col=0)